
<header class="w3-container" style="padding-top:22px;text-align: center">
  <h5><b>View Employee Details</b></h5>
</header>
<div class="w3-container">
  <h6>Username : {{arr.username}}</h6>
  <h6>Password : {{arr.password}}</h6>
  <h6>Employee Code : {{arr.employeecode}}</h6>
  <h6>First Name : {{arr.fname}}</h6>
  <h6>Last Name : {{arr.lname}}</h6>
  <h6>Email Id : {{arr.mail}}</h6>
  <h6>Phone No : {{arr.no}}</h6>
  <h6>Date of Birth : {{arr.dob}}</h6>
  <h6>Date of Joining : {{arr.doj}}</h6>
  <h6>Role : {{arr.role}}</h6>
  <h6>Department : {{arr.department}}</h6>
  <h6>Gender :{{arr.gender}}</h6>
</div> 